<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
</head>
<body>
    <h1 class="title">Mini-twitter</h1>
    <div class="register-container">
        <div class="form-section">
            <h2>Register</h2>
         
            <form action="{% url 'register' %}" method="POST">
                {% csrf_token %}
                <label for="username">username:</label>
                <input type="text" id="username" name="username" required>

                <label for="password">password:</label>
                <input type="password" id="password" name="password" required>

                <button type="submit">Create account</button>
                <a href="{% url 'login' %}" class="login-link">have an account?Then let's login</a>
            </form>
        </div>
    </div>
</body>
</html>
